.card { 
	background: #FFF; 
	border: 1px solid #AAA;
	border-bottom: 3px solid #BBB;
	padding: 20px;
	overflow: hidden;
}
.title {
	padding: 10px;
	padding-bottom: 0px;
}
.verse {
	padding: 10px;
}
.reference {
	padding: 10px;
}

