body{
	font-family:Georgia,sans-serif;
	background-color: #8A0808;
}
header{
	width: 80%;
	color: white;
	margin-right: auto;
	margin-left: auto;
}
footer{
	color: yellow;
}
section{
	color: white;
}
